* {
  margin: 0;
  padding: 0;
}
body {
  padding-left: 100px;
}

.logo {
  font-family: Tenali Ramakrishna;
  font-size: 50px;
  color: #43c4a6;
  font-weight: bolder;
}
.page-title {
  font-family: Tenali Ramakrishna;
  font-size: 80px;
  color: #000000;
}

.home-img {
  width: 600px;
  height: 600px;
}

.page-title span {
  color: #43c4a6;
}
.title-img {
  display: flex;
}
.category-section {
  display: flex;
  flex-direction: column;
}
